html {

  font-family: Georgia, serif;
}

body {
  background-color: #000;
}

.area {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  flex-wrap: wrap;
  margin: 0 auto;
}

.xs-1 {
  width: 100%;
}

h1, h3 {
  font-family: Righteous, cursive;
}

.aqua {
  border: 16px solid #0ff;
  padding: 20px;
}

.aqua h1 {
  color: #0ff;
}

.lava h3 {
  color: #f00;
}

p {
  font-family: "Libre Baskerville", serif;
}

.aqua p {
  background-color: #0ff;
  float: left;
  padding: 4px;
  margin: 0 4px 24px;
}

h3 {
  color: #fff;
}

.lava {
  border: 16px solid #f00;
  padding: 20px;
}

.lava h1 {
  color: #f00;
}

.lava p {
  background-color: #f00;
  float: left;
  padding: 6px;
  margin: 0 4px 24px;
}

.aqua-hr {
  border-top: 3px solid #0ff;
  border-radius: 20px;
}

.lava-hr {
  border-top: 3px solid #f00;
  border-radius: 20px;
}

a {
  display: block;
  text-align: center;
}

.wrap {
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-image: linear-gradient(-206deg, #835eff 0%, #ff008d 100%);
}

canvas {
  width: 100%;
  height: 100%;
}

.btn-aqua {
  border-color: #0ff;
}

.btn-lava {
  border-color: #f00;
}

.btn:hover {
  box-shadow: 0 0 25px 5px #fff;
}

.btn-aqua:hover {
  background-color: #0ff;
  border-color: #fff;
  color: #fff;
}

.btn-lava:hover {
  background-color: #f00;
  border-color: #fff;
  color: #fff;
}

@media only screen and (min-width: 25em) {

  .s-1 {
    width: 100%;
  }

}

@media only screen and (min-width: 38em) {

  .m-1-2 {
    width: 50%;
  }

}

@media only screen and (min-width: 60em) {

  .l-1-2 {
    width: 50%;
  }

}

@media only screen and (min-width: 90em) {

  .xl-1-2 {
    width: 50%;
  }

}
